#messageLinks{
	
	position: absolute;
	top: 10vh;
	left: 45vw;
	width: 20vw;
	height: 5vh;
	background-color: white;
	
	font-size: 4vh;
}
#messageHeader{
	font-size: 2.5vh;
	
	
	width: 40vw;
	height: 5vh;
	background-color: ;
	
	font-size: 3vh;
}
#messageBody{
	
	margin-left: 5vw;
	width: 40vw;
	background-color: white;
	
	font-size: 2vh;
}
#messageOptions{
	
	width: 10vw;
	
	background-color: white;
	
	font-size: 2.2vh;
}
.wholeMessage{
	width: 100vw;
	//border-style: solid;
	border-color: grey;
	border-width: .11vw;
}